.mainlayout {
  border: 1px solid black;
  border-radius: 20px;
  height: 500px;
  width: 300px;
  margin: 0 auto;
  margin-top: 40px;
}

img {
  display: block;
  margin: 0 auto;
  height: 150px;
  width: 120px;
  padding-top: 25px;
  border-radius: 20px 20px 40px 40px;
}

h3 {
  padding: 0;
  margin: 0;
  text-align: center;
  color: rgb(31, 81, 81);
}

a {
  text-decoration: none;
}

button {
  color: rgb(202, 219, 219);
  border: 1px solid black;
  border-radius: 6px;
  background-color: rgb(31, 81, 81);
  height: 40px;
  width: 200px;
  gap: 8px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  margin-bottom: 12px;
}
